<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @animal.id %>
</p>

<p>
  <b>Name:</b>
  <%= @animal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @animal.description %>
</p>

<p>
  <b>Image:</b>
  <%= @animal.image %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
